/** fontes e icones ----------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');
@import url();

/* padronizar base */
html {
    font-size: 10px;
}

/** responsivo
* estilo do header/cabeçalho

*/
@media only screen and(max-width:1024px) {
    header .top-bar {
        left: 60px;
    }
}
@media only screen and(max-width:768px) {
    header .top-bar {
        left: 50px;
    }
}



/*--------------------------------------*/

html, body {
    height: 100%;
}
body {
    background: #151515;
    
    font-size: 1.7rem;
    line-height: 3rem;
    color: #6e6e6e;
}
/* links */
a, a:visited {

}

a:hover, a:focus, a:active {

}

/* tipografia e conf de tema */
h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "poppins-semibold", sans-serif;
	color: #313131;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}

/* listas*/
ul {
    list-style: disc;
}
li {
    display: list-item;
}



/* header configuração */
header {
    position: fixed;
    width: 100%;
    min-height: 66px;
    z-index: 600;
}

header .row {
    position: relative;
    min-height: 66px;
}

header .top-bar {
    display: block;
    background: #000000;
    min-width: 220px;
    min-height: 66px;
    position: absolute;
    left: 90px;
    top: 0;
}

header .logo {
    float: left;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 25px;
    position: relative;
}
 header .logo a {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    width: 92px;
    height: 15px;
    background: url("../images/logo.png") no-repeat center;
    background-size: 92px 15px;
 }

  /* menu alternado  */  

 .menu-toggle {
    float: left;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 13px;
    display: block;
    position: relative;
 }
 /*Traço colorido */
 .menu-toggle span {
    display: block;
	background-color: #e8d632;
	width: 24px;
	height: 3px;
	margin-top: -1.5px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	position: absolute;
	right: 8px;
	top: 50%;
	bottom: auto;
	left: auto;
	-moz-transition: background 0.2s ease-in-out;
	-o-transition: background 0.2s ease-in-out;
	-webkit-transition: background 0.2s ease-in-out;
	-ms-transition: background 0.2s ease-in-out;
	transition: background 0.2s ease-in-out;
 }

  /*fazer 3 traços do menu */
.menu-toggle span::before, .menu-toggle span::after {
	content: '';
	width: 100%;
	height: 100%;
	background-color: inherit;
	position: absolute;
	left: 0;
	-moz-transition-duration: 0.2s, 0.2s;
	-o-transition-duration: 0.2s, 0.2s;
	-webkit-transition-duration: 0.2s, 0.2s;
	-ms-transition-duration: 0.2s, 0.2s;
	transition-duration: 0.2s, 0.2s;
	-moz-transition-delay: 0.2s, 0s;
	-o-transition-delay: 0.2s, 0s;
	-webkit-transition-delay: 0.2s, 0s;
	-ms-transition-delay: 0.2s, 0s;
	transition-delay: 0.2s, 0s;
} 
.menu-toggle span::before {
	top: -8px;
	-moz-transition-property: top, transform;
	-o-transition-property: top, transform;
	-webkit-transition-property: top, transform;
	-ms-transition-property: top, transform;
	transition-property: top, transform;
}
.menu-toggle span::after {
	bottom: -8px;
	-moz-transition-property: bottom, transform;
	-o-transition-property: bottom, transform;
	-webkit-transition-property: bottom, transform;
	-ms-transition-property: bottom, transform;
	transition-property: bottom, transform;
}

 /* o click */
.menu-toggle.is-clicked span {
	background-color: rgba(255, 0, 119, 0);
}
.menu-toggle.is-clicked span::before, .menu-toggle.is-clicked span::after {
	background-color: #e8d632;
	-moz-transition-delay: 0s, 0.2s;
	-o-transition-delay: 0s, 0.2s;
	-webkit-transition-delay: 0s, 0.2s;
	-ms-transition-delay: 0s, 0.2s;
	transition-delay: 0s, 0.2s;
}
.menu-toggle.is-clicked span::before {
	top: 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-toggle.is-clicked span::after {
	bottom: 0;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
} 

/* ERRO 
painel de navegação 
    joga os traços para cima */
#main-nav-wrap {
    display: block;
    width: 100%;
    font-family: "poppins-medim", "sans-serif";
    font-size: 1.5rem;
    position: absolute;
    top: 100%;
    left: 0;
}

 /*navegação suspensa*/ 
.main-navigation {
    background: #000000;
    padding: 24px 30px 42px;
    margin: 0; /* cola o menu em cima */
    width: 100%;
    height: auto;
    clear: both;
    display: none; /* tira menu */
}
.main-navigation > li {
    display: block;
    height: auto;
    text-align: left;
    padding: 0;
}
.main-navigation li a {
    display: block;
	color: #FFFFFF;
	width: auto;
	padding: 15px 0;
	line-height: 16px;
	border: none;
}
.main-navigation li a:hover {
    color: #e8d632;
    padding-left: 1rem;/* jogadinha de lado */
}
.main-navigation li.current > a {
    background: none;
    color: #e8d632;
}
/*estilo comum*/

.section-intro {
    max-width: 700px;
    margin-left: auto;
    text-align: center;
    margin-bottom: 3.6rem;
    position: relative;
}






/* intro section --------------------------------------*/
#intro {
    background: #151515 url(../images/intro-bg.jpg) no-repeat center bottom;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    min-height: 720px;
    display: table;
    position: relative;
    text-align: center;

}

.intro-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1111;
    opacity: .90;
    
}
.intro-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transform: translateY(-2.1rem);
}

.intro-content h5 {
    color: #e8d632;
    font-family: "poppins-bold", sans-serif;
    font-size: 2.3rem;
    text-transform: uppercase;
}
.intro-content h1 {
    color: #FFFFFF;
    font-family: "poppins-medium", sans-serif;
    font-size: 8.4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}
.intro-content .intro-position {
    font-family: "poppins-regular", serif;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.intro-content .intro-position span {
    display: inline-block;
}
.intro-content .intro-position span::after {
    content: "|";
    text-align: center;
    display: inline-block;
    padding: 0 14px 0 8px;
    color: #6e6e6e;
}
.intro-content .intro-position span:first-child::before {
	content: "|";
	text-align: center;
	display: inline-block;
	padding: 0 14px 0 8px;
	color: rgba(255, 255, 255, 0.3);
}

.intro-social {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 7.2rem;
    font-size: 3.3rem;
    margin: 0;
    padding: 0;
}
.intro-social li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
}
.intro-social li a, .intro-social li a:visited {
    color: #FFFFFF;
}
.intro-social li a:hover, .intro-social li a:focus {
    color: #e8d632;
}

/* Portifolio */

#portifolio {
    background: #313131 url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 12rem;
    color: #FFFFFF;
    position: relative;
}

#portifolio .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #151515;
    opacity: .9;
}

#portifolio .section-intro {
    margin-bottom: 2rem;
}

#portifolio .section-intro h1 {
    color: #FFFFFF;
}

#portifolio .section-intro h5 {
    color: #e8d632;
}

.portifolio-content {
    max-width: 1200px;
}
.portifolio-list {
    margin-top: 1.2rem;
    text-align: center;
}
.portifolio-list .service {
    margin-bottom: 1.2rem;
    padding: 0 30px;
}

/*rodape */

footer {
    padding-bottom: 3rem;
    font-size: 1.4rem;
    font-family: "poppins-regular", sans-serif;
}
footer .row {
    max-width: 900px;
}

footer .copyright span {
    display: inline-block;
}

footer .copyright span::after {
    content: "|";
    display: inline-block;
    padding: 0 1rem 0 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}
