@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --custom-base-0: #d8ccc8;
  --custom-base-1: #c7ff3a;
  --custom-base-2: #3c0675;
  --custom-black-0: #302a2b;
  --custom-red-1: #ff9f0d;
  --custom-blue-1: #699fcb;
}

@media (max-width: 639px) {
  .flex-col {
    flex-direction: column;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-cursor {
  animation: blink 2s step-end infinite;
}

.hologram-effect {
  filter: brightness(1.5);
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  transform-style: preserve-3d;
}

.background-image {
  background: linear-gradient(
    to right,
    var(--custom-base-1),
    var(--custom-base-2)
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card-image-wrapper {
  height: 420px;
  overflow: hidden;
}

.text-shadow-base-1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
.text-shadow-base-2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
