@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --custom-base-0: #d8ccc8;
  --custom-base-1: #f1b940;
  --custom-base-2: #f44a66;

  --custom-black-0: #544a4b;
  --custom-red-1: #d6474d;
  --custom-blue-1: #699fcb;
}

@media (max-width: 639px) {
  .flex-col {
    flex-direction: column;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-cursor {
  animation: blink 2s step-end infinite;
}
